<h3>User Detail</h3>

<table class="table table-bordered">
	 <thead>
	 	 <tr>
	 	 	<th>Name</th>
	 	 	<th>User Name</th>
	 	 	<th>E-mail</th>
	 	 	<th>Permission</th>
	 	 	<th>Status</th>
	 	 	<th>Account Creation</th>
	 	 	<th>login Activity</th>
	 	 </tr>
	 </thead>
	 <tbody>
	 	<td>{{usname}}</td>
	 	<td>{{uname}}</td>
	 	<td>{{email}}</td>
	 	<td>{{permission}}</td>
	 	<td>{{status}}</td>
	 	<td>{{date}}</td>
	 	<td>
	 	    <img class="img-responsive" src="uploads/{{activity}}">  
	 	</td>
	 </tbody>
</table>