<h3>Reset Password</h3>


<div class="form row">
    
    <form class="col-lg-4" ng-submit="rpassword.pass_data(data);" style="margin-bottom: 30px;">
    	<label>Password</label>
	    <input type="text" ng-model="rpassword.data.password" name="password" class="form-control">
	    <br>
	    <label>Confirm Password</label>
	    <input type="text" ng-model="rpassword.data.cpassword" name="cpassword" class="form-control">
	    <br>
	    <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
    
    <div class="col-lg-12">
       <div class="alert alert-info">
            {{message}}
       </div>
    </div>
    
</div> 